.footer {
  background-color: transparent;
  color: var(--yellow-theme-sub-text-color);
  text-align: center;
  padding: 20px 0;
  font-size: 16px;

  &__content {
      max-width: 1200px;
      margin: 0 auto; /* Center the content */
      padding: 0 20px;
  }
}
